.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 430px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 800px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.rules {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ff6f91;
}
