.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 430px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 800px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
