.card {
  background-color: #1e3a8a;
  display: grid;
  place-items: center;
  border-radius: 16px;
  padding: 1rem;
  border: none;
  cursor: pointer;
}

.card:hover,
.card:focus {
  box-shadow: 3px 13px 100px -34px #ff9671;
}

.img {
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 12px;
}

.loading {
  color: #ff9671;
}
