.header {
  padding: 1rem 0;
  background-color: #04244d;
  margin-bottom: 2rem;
}
.headerDiv {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.scoreContainer {
  display: flex;
  flex-direction: column;
  /* background-color: #3b82f6; */
  gap: 1rem;
}

.scores {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.totalScore {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  /* display: flex; */
  flex-direction: column;
  gap: 1rem;
  background-color: #ffc75f;
  color: #04244d;
}

.restartBtn {
  margin-right: auto;
  padding: 0.25rem 1rem;
  text-transform: uppercase;
  background-color: #9d174d;
  color: white;
  border: none;
  margin-top: 1rem;
  border-radius: 5px;
}

.restartBtn:hover,
.restartBtn:focus {
  background-color: #9333ea;
}

@media (min-width: 550px) {
  .headerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .scores {
    flex-direction: row;
  }
}

.title {
  font-size: 3rem;
  line-height: 1;
}

.credits {
  margin-bottom: 1.4rem;
  display: block;
  text-decoration: underline;
  cursor: pointer;
  color: #ffc75f;
}

.credits:hover,
.credits:focus {
  color: #ff9671;
}

.currentScore,
.bestScore {
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.currentScore {
  background: linear-gradient(277deg, #3b82f6, #6d28d9, #6b21a8);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 18s ease infinite;
  -moz-animation: AnimationName 18s ease infinite;
  -o-animation: AnimationName 18s ease infinite;
  animation: AnimationName 18s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 36%;
  }
  50% {
    background-position: 100% 65%;
  }
  100% {
    background-position: 0% 36%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 36%;
  }
  50% {
    background-position: 100% 65%;
  }
  100% {
    background-position: 0% 36%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 36%;
  }
  50% {
    background-position: 100% 65%;
  }
  100% {
    background-position: 0% 36%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 36%;
  }
  50% {
    background-position: 100% 65%;
  }
  100% {
    background-position: 0% 36%;
  }
}

.bestScore {
  background: linear-gradient(277deg, #9333ea, #a21caf, #9d174d);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 18s ease infinite;
  -moz-animation: AnimationName 18s ease infinite;
  -o-animation: AnimationName 18s ease infinite;
  animation: AnimationName 18s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 36%;
  }
  50% {
    background-position: 100% 65%;
  }
  100% {
    background-position: 0% 36%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 36%;
  }
  50% {
    background-position: 100% 65%;
  }
  100% {
    background-position: 0% 36%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 36%;
  }
  50% {
    background-position: 100% 65%;
  }
  100% {
    background-position: 0% 36%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 36%;
  }
  50% {
    background-position: 100% 65%;
  }
  100% {
    background-position: 0% 36%;
  }
}
